.page-header{
    display:flex;
    flex-direction:row;
    /* justify-content: center; */
    margin-bottom: 100px;
    margin-top: 800px;
    border-bottom: 1px dotted black;   
    align-items: center;
    /* width:100%; */
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-right:25%;

}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;

}
.border{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.delicious{
    font-family: 'Pacifico', cursive;
    font-size: 2.3rem;
    height:60px;
    margin:0%;
    padding: 0%;
}
.text-div{
    display: flex;
    flex-direction: column;
    height:100px;
}
.best-blog{
    margin: 0%;
    padding: 0%;
    font-size: 1rem;
}
.logo-left{
    margin-top: 5%;
}
.row-box{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#title{
    font-size: 2.5rem;
}
#date{
    font-size: .8rem;
    opacity: 50%;
}
#print{
    opacity: 50%;
}